# workflow:
#   rules:
#     - if: $CI_PIPELINE_SOURCE == "web"
#       when: always
#     - when: never

workflow:
  rules:
    - changes:
        - "README.md"
      when: never
    - when: always



stages:
  - build
  - test
  - deploy



.set-variables-stage:
  variables:
    TOKEN: $STAGING_API
.set-variables-prod:
  variables:
    TOKEN: $PROD_API



variables:
  DOTENV_FILE: file.env


build-job:
  stage: build
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .


metadata-job:
  stage: build
  needs: [build-job]
  artifacts:
    reports:
      dotenv: $DOTENV_FILE
  script:
    - echo "IMAGE_TAG=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" >> $DOTENV_FILE

scan-job:
  stage: test
  image:
    name: aquasec/trivy:0.65.0
    entrypoint: [""]
  needs: [metadata-job]
  cache:
    key: trivy-cache
    paths:
      - .trivy-cache/
  variables:
    TRIVY_CACHE_DIR: .trivy-cache
  script:
    - >
      trivy image --severity HIGH,CRITICAL --exit-code 1 --ignore-unfixed
      --scanners vuln --cache-dir $TRIVY_CACHE_DIR --parallel 1 --timeout 20m
      --format json -o trivy-image.json $IMAGE_TAG
  artifacts:
    when: always
    paths:
      - trivy-image.json
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_TAG


test-job:
  stage: test
  needs: [metadata-job]
  variables:
    DOCKER_API_VERSION: "1.42"
  script:
    - docker run --rm $IMAGE_TAG pytest -s -v
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_TAG


# deploy-job:
#   stage: deploy
#   needs: [metadata-job, test-job]
#   script:
#     - docker compose up -d

deploy-staging:
  stage: deploy
  needs: [metadata-job]
  variables:
    CITY: "Пермь"
  script:
    - docker compose -f docker-compose.staging.yml up -d
  environment:
    name: staging
    deployment_tier: staging
    url: http://100.94.38.85:8080
  resource_group: staging-environment
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: on_success
    - if: $CI_COMMIT_BRANCH =~ /^feature\//
      when: manual
  extends: [.set-variables-stage]


deploy-production:
  stage: deploy
  needs: [metadata-job, test-job]
  variables:
    CITY: "Москва"
  script:
    - docker compose -f docker-compose.prod.yml up -d
  environment:
    name: production
    deployment_tier: production
    url: http://100.94.38.85/
  resource_group: production-environment
  rules:
    - if: $CI_COMMIT_TAG
  extends: [.set-variables-prod]

