# workflow:
#   rules:
#     - if: $CI_PIPELINE_SOURCE == "web"
#       when: always
#     - when: never  


stages:
  - build
  - test
  - deploy


variables:
  DOTENV_FILE: file.env


build-job:
  stage: build
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .


metadata-job:
  stage: build
  needs: [build-job]
  artifacts:
    reports:
      dotenv: $DOTENV_FILE
  script:
    - echo -e "IMAGE_TAG=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA\n" >> $DOTENV_FILE

scan-job:
  stage: test
  image:
    name: aquasec/trivy:0.65.0
    entrypoint: [""]
  needs: [metadata-job]
  script:
    - trivy image --severity HIGH,CRITICAL --ignore-unfixed --exit-code 1 --format json -o trivy-image.json $IMAGE_TAG
  artifacts:
    when: always
    paths:
      - trivy-image.json


test-job:
  stage: test
  needs: [metadata-job]
  variables:
    DOCKER_API_VERSION: "1.42"
  script:
    - docker run --rm $IMAGE_TAG pytest -s -v



deploy-job:
  stage: deploy
  needs: [metadata-job, test-job]
  script:
    - docker compose up -d
